#dropzoneImage {
    border: 2px dashed #0087F7;
    background: white;
    border-radius: 5px;
    min-height: 200px;
    padding: 20px 0;
    vertical-align: baseline;
}

.dz-message{ 
    text-align: center; 
    font-size: 2rem; 
    cursor: pointer; 
}

.cat-image { 
    position: relative; 
    display: inline-block; 
    font-size: 0; 
}

.cat-image .close-preview { 
    position: absolute; 
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif;
}
.cat-image:hover .close-preview {
    opacity: 1;
}
